.contact-main{
   background-color: rgb(230, 238, 246);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    
}

.form-cont{
    height: 350px;
    margin-top: 9%;
    margin-bottom: 9%;
    width: 70%;
    background-color: white;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    
}

input{
    padding: 10px;
    margin: 8px;
    border: none;
    box-shadow: 1px 4px 8px #ed98af ;
    border-radius: 10px;
    background-color: rgb(230, 238, 246);
}

.msg{
    padding-bottom: 100px;
}

.sub-btn{
    padding: 10px 15px 10px 15px;
    background-color:#865663;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 15px;
}
.cont-title{
    color: #865663;
   padding-left: 1%;
}


@media screen and (min-width:0px) and (max-width:750px) {
    .form-cont{
        margin-bottom: 340px;
    }
    
}